<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<body>

<h1>Cars</h1>

<h:dataTable var="car" value="#{carsIndexController.cars}">
    <h:column>
        <f:facet name="header">Model</f:facet>
        #{car.model}
    </h:column>
    <h:column>
        <f:facet name="header">Number</f:facet>
        #{car.number}
    </h:column>
    <h:column>
        <f:facet name="header">Year</f:facet>
        #{car.year}
    </h:column>
    <h:column>
        <f:facet name="header">Actions</f:facet>
        <h:link value="Edit" outcome="editCar">
            <f:param name="id" value="#{car.id}" />
        </h:link>
    </h:column>
</h:dataTable>
<h:link value="New Car" outcome="newCar" />

</body>
</html>
